<h2>Edit</h2>
<form name="recordForm">
    <h1>Form name required = {{recordForm.name.$error.required}}</h1>
    <h1>Form name minlength = {{recordForm.name.$error.minlength}}</h1>

    <h1>Form number required = {{recordForm.number.$error.required}}</h1>
    <h1>Form number pattern = {{recordForm.number.$error.pattern}}</h1>

    <h2 ng-bind="record.name"></h2>
    <h2 ng-bind="record.number"></h2>

    <ace-input name='name' ng-model="record.name" required minlength="3" ace-label="Name"></ace-input>
    <ace-error-message ng-show="recordForm.name.$error.required">Name is a required field</ace-error-message>
    <ace-error-message ng-show="recordForm.name.$error.minlength">Name must be at least 3 characters</ace-error-message>

    <ace-input name='number' ng-model="record.number" required pattern="[\d ]*" maxlength="15" ace-label="Number"></ace-input>
    <ace-error-message ng-show="recordForm.number.$error.required">Number is a required field</ace-error-message>
    <ace-error-message ng-show="recordForm.number.$error.pattern">Number is not a valid phone number</ace-error-message>
    <ace-error-message ng-show="recordForm.number.$error.maxlength">Number must be fewer than 15 characters</ace-error-message>

    <ace-button ng-click="save()" ace-label="Save"></ace-button>
    <ace-button ng-click="cancel()" ace-label="Cancel"></ace-button>
</form>