<h2>Directory</h2>
<ace-button ng-click="create()" ace-label="Create"></ace-button>
<!--<ul>-->
    <!--<li ng-repeat="record in records">-->
        <!--{{record.name}}:{{record.number}}-->
        <!--<ace-button ng-click="edit({{record.id}})" ace-label="Edit"></ace-button>-->
        <!--<ace-button ng-click="delete({{record.id}})" ace-label="Delete"></ace-button>-->
    <!--</li>-->

    <!--&lt;!&ndash;<li ng-repeat="record in records">&ndash;&gt;-->
        <!--&lt;!&ndash;<ace-record ace-record-id="{{record.id}}"></ace-record>&ndash;&gt;-->
    <!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--</ul>-->