<h2>Edit</h2>
<form name="recordForm">
    <h1>Form name required = {{recordForm.name.$error.required}}</h1>
    <h1>Form name minlength = {{recordForm.name.$error.minlength}}</h1>

    <h1>Form number valid = {{recordForm.number.$error.required}}</h1>
    <h1>Form number pattern = {{recordForm.number.$error.pattern}}</h1>

    <ace-input name='name' ng-model="record.name" required ng-minlength="3" ace-label="Name"></ace-input>
    <ace-error-message ng-hide="recordForm.name.$error.required">Name is a required field</ace-error-message>
    <ace-error-message ng-hide="recordForm.name.$error.minlength">Name must be at least 3 characters</ace-error-message>

    <ace-input name='number' ng-model="record.number" ng-required ng-pattern="/(\d{5}\d?)[-. ](\d{5}\d?)/" ace-label="Number"></ace-input>
    <ace-error-message ng-hide="!recordForm.number.$errors.required">Number is a required field</ace-error-message>
    <ace-error-message ng-hide="!recordForm.number.$errors.pattern">Number is not a valid phone number</ace-error-message>

    <ace-button ng-click="save()" ace-label="Save"></ace-button>
    <ace-button ng-click="cancel()" ace-label="Cancel"></ace-button>
</form>